main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
    min-height: 100vh;
}
main header {
    text-align: center;
    color: #FFA500;
    font-size: 30px
}
main div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 6 px;
    padding-left: 28px;
    padding-right: 28px;
}
main div.content div.contentInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main div.check {
    font-family: 'Itim', cursive;
    color: #6e6e6e;
}
h4 {
    display: table-caption;
    margin-block-start: 2.3em;
    margin-block-end: -5.33em;
    margin-inline-start: 166px;
    margin-inline-end: 0px;
    font-weight: 400;
    font-family: 'itim', cursive;
    letter-spacing: -1.28px;
    line-height: 66.523%;
}

main div.custom-checkbox input {
    display: none;
}
main div.custom-checkbox input+label:before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
}
main div.custom-checkbox input:checked+label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #FFA500;
    background-position: center;
    border: none;
    padding: 1px;
}
main div textarea {
    border-color: #FFA500;
    padding: 40px;
    text-align: start;
    border-radius: 4px;
}
main fieldset {
    height: 150px;
    border-radius: 16px;
    width: 289px;
    border: 1px solid #FFA500;
}
main h5 {
    margin-block-start: 1.3em;
    margin-inline-start: 117px;
    font-weight: 400;
    font-family: 'itim', cursive;
    color: #6e6e6e;
}
main div.content_date_time {
    display: flex;
    gap:40px;
    margin-inline-start: 4.3em;
    margin-block-start: 1.3em;
}
main input.time {
    border-left: none;
    border-right: none;
    border-top: none;
    width: 40px;
    border-color: #d9d9d9;
}
main input.date {
    border-left: none;
    border-right: none;
    border-top: none;
    width: 102px;
    border-color: #d9d9d9;
}
main div.calendar_image {
    margin-top: -19px;
    margin-left: 129px;
}
main div.clock_image {
    margin-top: -24px;
    margin-left: 49px;
}
main div.conteudo_busca {
    display: flex;
    flex-direction: column;
    height: 51px;
    margin-inline-start: 1.3em;
    gap: 6px;
}
main input.origem {
    border-left: none;
    border-right: none;
    border-top: none;
    width: 219px;
    border-color: #d9d9d9;
}
main input.destino {
    border-left: none;
    border-right: none;
    border-top: none;
    width: 219px;
    border-color: #d9d9d9;
}
main div.origem_image {
    margin-top: -49px;
    margin-left: 0px;
}
main div.destino_image {
    margin-top: 4px;
    margin-left: -2px;
}
main div.indicacao_image {
    margin-top: -47px;
    margin-left: 252px;
}