
main {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    padding-top: 40px;  
    padding-bottom: 80px;    
    min-height: 100vh;
    
}
main header {
    text-align: center;
    color: #FFA500;
    font-size: 20px
}
main div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    padding-left: 28px;
    padding-right: 28px;
}
main div.content div.contentInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;   
}


