
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;  
    padding-bottom: 80px;    
    min-height: 100vh;
}
main header {
    text-align: center;
    color: #FFA500;
    font-size: 30px
}
main div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: 40px;
    padding-left: 28px;
    padding-right: 28px;
    gap: 10px;
}
main div.content div.contentInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;   
}
main button.redefinir {
     margin-bottom: 40px;
}

 main div.opcoes {
    text-align: center;
    color: #6e6e6e;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Itim', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
